@import "variable";
.banner-section {
  margin: 1em 0 0 0;

  .banner {
    height: 22rem;
    text-align: left;
  }

  .carousel-status {
    display: none;
  }

  .carousel-slider {
    height: 22rem;
  }
}

.flash-deal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $borderline;
  margin-bottom: 1rem;

  .flash-title {
    h3 {
      font-size: 1.8rem;
      text-transform: capitalize;
      font-weight: 400;
    }
  }
  .flash-countdown {
    display: flex;
    align-items: center;
    .countdown-title {
      font-size: 1.2rem;
      font-weight: 400;
      margin-right: 1em;
    }
    .countdown-time {
      display: flex;
      align-items: center;
      background-color: red;
      height: 2.5rem;
      margin-bottom: 0.5rem;

      .time {
        padding: 0 0.5em;
        color: $whitecolor;
        .number {
          color: $whitecolor;
          font-weight: 500;
          font-size: 1.3rem;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          line-height: 2;
          padding: 0.2em;
        }
        .text {
          font-weight: 500;
          font-size: 0.7rem;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          line-height: 2;
          color: $borderline;
          text-transform: uppercase;
        }
      }
    }
  }
}
$layout-breakpoint-very-small: 900px;

@media (max-width: $layout-breakpoint-very-small) {
  .flash-deal {
    display: block;
  }
}
.special-section {
  margin: 1em 0;
  .special-product {
    border-bottom: 1px solid $borderline;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    .show-more {
      margin: 0 0 0.5rem 0;
    }
  }
}
.banar {
  margin: 2em 0;
  padding: 2em 0 0;
  .text-white {
    height: 12rem;

    .addss-image {
      height: 12rem;
    }
  }
  $layout-breakpoint-very-small: 900px;

  @media (max-width: $layout-breakpoint-very-small) {
    .text-white {
      margin: 1em;
    }
  }
}
.grid-col {
  margin: 0.4rem;
}
.just-for-you {
  border-bottom: 1px solid $borderline;
  margin: 3rem 0 1rem 0;
}

.info-section {
  padding: 1rem;
  background-color: #43a846;
  margin: 1rem 0;
  .info-card {
    display: flex;
    align-items: center;
    .info-logo {
      font-size: 3rem;
      color: $whitecolor;
      padding: 0 0.5rem;
    }
    .info-body {
      color: $whitecolor;
      padding: 0 0.5rem;
      .info-body-h {
        display: block;
      }
      .info-body-p {
        font-size: 0.7rem;
        color: rgb(224, 221, 221);
        display: inline;
      }
    }
  }
}
