@import "home";
@import "navbar";
@import "variable";
@import "footer";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  // width: 1188px;
  max-width: 1230px !important;
  margin: 0 auto;
}
.react-multiple-carousel__arrow {
  background: none !important;
}
.react-multiple-carousel__arrow::before {
  color: #666 !important;
}
.react-multiple-carousel__arrow--right {
  right: calc(0% + 0px) !important;
}
.react-multiple-carousel__arrow--left {
  left: calc(0% + 0px) !important;
}
.react-multi-carousel-item {
  width: 241.5px !important;
}
.react-multi-carousel-list {
  padding-bottom: 1rem !important;
}
.card-title {
  margin-bottom: 0.25rem !important;
  font-size: 1.2rem;
}
.cut-price {
  font-size: 1rem;
  .old-price {
    color: #667;
    text-decoration: line-through;
    margin-right: 1rem;
  }
}
.card-text {
  margin-bottom: 0.25rem !important;
  color: #f57224;
  font-size: 1.4rem;
}

.special-card {
  flex-direction: row !important;
  .special-card-image {
    width: 8rem;
    height: 8rem;
    // height: 10rem;
    border-top-right-radius: calc(0rem - 0px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
  .special-card-body {
    padding: 0.4em;
    .special-card-body-title {
      font-size: 1rem;
    }
    .star-rating {
      margin-bottom: 0.3em;
    }
  }
}
$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  body {
    background-color: red;
  }
  .inline-form {
    display: none;
  }
  .navbar {
    background-color: $whitecolor;
    .small-form {
      display: block;
    }
  }
}
.card {
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
}
.product-image {
  height: 16rem;
  padding: 1em 0;
}
